In [4]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import os
import numpy as np
from scipy.stats import sem

In [6]:
#set variables for data files
mouse_metadata = os.path.join("Resources", "mouse_metadata.csv")
study_files = os.path.join("Resources", "study_results.csv")

#read the csv files
mouse_metadata = pd.read_csv(mouse_metadata)
study_files = pd.read_csv(study_files)
mouse_metadata.head()

#combine the data sets into one
data_df = pd.merge(mouse_metadata, study_files, on="Mouse ID")
data_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [42]:
#Summary Statistics
#generate a summary statistics table of mean, median, variance, 
#standard deviation, and SEM of the tumor volume for each regimen

tumor_volume = data_df["Tumor Volume (mm3)"]

mean_volume = np.mean(tumor_volume)
median_volume = np.median(tumor_volume)
variance = np.var(tumor_volume,ddof=0)
sd = np.std(tumor_volume,ddof=0)
std_error = tumor_volume.sem()